.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  max-width: 800px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  column-gap: 20px;
}

.container1 {
  width: 100%;
  align-self: flex-start;
  justify-self: start;
}

.optionWrapper {
  display: flex;
}

.btnContainer {
  display: flex;
  column-gap: 20px;
}
